<ul>
<%for(var i = 0; i < this.length ; i++){%>
		<%== $.View('//presentation/inventory_list/views/inventory_list_item.ejs', this[i] )%>
<%}%>
</ul>

<hr />

<form id="addInventoryItemForm" action="" method="post">
	<legend>Add new inventory item</legend>
	<label for="newName">Name</label>
	<input id="newName" type="text"></input>
	<button type="submit">Add</button>
</form>

