<li <%= this%>>
  <h3><%= name %></h3>
  <p><%= id %></p>
  <p>
	<a class="rename" href="javascript://">Rename</a>&nbsp;
	<a class="checkIn" href="javascript://">Check In</a>&nbsp;
	<a class="remove" href="javascript://">Remove</a>&nbsp;
	<a class="destroy" href="javascript://">Deactivate</a>&nbsp;
  </p>
</li>
